[Desktop Entry]
Version=1.0
Type=Link
Name=ABCya.com
Comment=
Icon=face-monkey
URL=http://www.abcya.com/
X-XFCE-Source=file:///home/student/Desktop/ABCya_com.desktop
