[Desktop Entry]
Version=1.0
Type=Link
Name=Starfall
Comment=
Icon=gnome-fs-bookmark
URL=http://www.starfall.com/
X-XFCE-Source=file:///home/student/Desktop/Starfall.desktop
